html {
  font-size:14px;
  font-family: "Quicksand";
  overflow-x: hidden;
}

p {
  font-size:1rem;
}

h2 {
  font-family:"lobster";
  color:;
}





/*--------------------------------NAVIGATION----------------------*/
.navbar-brand {
  font-family: "lobster";
  color: rgb(63, 116, 191);
  position: fixed;
  background-color: white;
}

.logo {
  font-family: "lobster";
  color: rgb(63, 116, 191);
  font-size: 1.2rem;
  display:none;
}

.dropdown {
  display:none;
}

.navbar-right {
  justify-content: flex-end;
  display:flex;
}

.btn {
  background-color:white;
  color:gray;
  border:none;
  }

  .nav-logo{
  z-index:2;
  position: fixed;
  }

  .navbar-light{
    position: absolute;
  }

@media only screen and (max-width: 768px){
nav{
  display:none;
  }

.dropdown{
  display:flex;
  justify-content: space-between;
  padding-right: .1rem;
  margin-top: .02rem;
  background-color: white;
  padding-bottom: 1.5rem;
  /*border:1px red solid;*/
}

.navbar-brand{
display:none;
}

.logo {
 display:flex;
 margin-left: .5rem;
 margin-top:.4rem;
 /*border:1px red solid;*/
}
}


/*---------------------------------JUMBOTRON ------------------*/

.slide {
  margin-top:2rem;
}
.carousel-indicators li { visibility: hidden; }

.image-container {
  height:31rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.studio-images-fisrt{
  background-image: url("../images/studio-stock-2.jpg");

  }

.studio-images-second{
  background-image: url("../images/studio-stock-3.jpg");
}

.studio-images-third{
  background-image: url("../images/studio-stock.jpg");
}

.carousel-caption{
font-family: "lobster";
font-size: 6rem;
color:white;
opacity:0.8;
text-align: center;
padding-bottom: 10rem;
}

@media only screen and (max-width: 1024px){
  .carousel-caption{
    /*padding-bottom: 8rem;*/
    line-height: 5rem;
    font-size: 5rem;
  }
}

@media only screen and (max-width: 480px){
  .carousel-caption{
    font-size: 4rem;
    line-height: 4rem;
  }
}

/*-------------------------------QUOTES------------------------*/
.about-all{
 width: 70%;
 border:2px black solid ;
 padding:0rem 2rem;
 margin-top: 4rem;
}

.quotes {
  font-size: 5rem;
  font-weight: bold;
  font-family: "baskerville ";
  margin: 0;
  /*border:1px red solid*/
}

.logo-font{
  font-family: "lobster";
  color:rgb(63, 116, 191);
}

.about {
  font-size: 1.4rem;
  font-family: "baskerville";
  line-height: 3rem;
  letter-spacing:.2rem;
  text-align: center;
}

.quote-closing{
  display: flex;
  justify-content: flex-end;
}


/*_____________________________BUTTONS _____________________*/

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 15rem;
  background: white;
  z-index:5;
}

.services p {
  margin-right: 13rem;
}
