html {
  font-size:14px;
}

p {
  font-size:1rem;
}

h2 {
  font-family:"lobster";
  color:;
}



/*--------------------------------NAVIGATION----------------------*/
.navbar-brand {
  font-family: "lobster";
  color: rgb(63, 116, 191);
  position: fixed;
  background-color: white;
}

.logo {
  font-family: "lobster";
  color: rgb(63, 116, 191);
  font-size: 1.2rem;
  display:none;
}

.dropdown {
  display:none;
}

.navbar-right {
  justify-content: flex-end;
  display:flex;
}

.btn {
  background-color:white;
  color:gray;
  border:none;
  }

  .nav-logo{
  z-index:2;
  position: fixed;
  }

  .navbar-light{
    position: absolute;
  }

@media only screen and (max-width: 768px){
nav{
  display:none;
  }

.dropdown{
  display:flex;
  justify-content: space-between;
  padding-right: .1rem;
  margin-top: .02rem;
  background-color: white;
  padding-bottom: 1.5rem;
  /*border:1px red solid;*/
}

.navbar-brand{
display:none;
}

.logo {
 display:flex;
 margin-left: .5rem;
 margin-top:.4rem;
 /*border:1px red solid;*/
}
}


/*---------------------------------JUMBOTRON ------------------*/

.carousel-style {
  margin-top:2rem;
}

.create {
  height:31rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.studio-images-fisrt{
  background-image: url("../images/studio-stock-2.jpg");
  }

.studio-images-second{
  background-image: url("../images/studio-stock-3.jpg");
}

.studio-images-third{
  background-image: url("../images/studio-stock.jpg");
}

.create-text{
font-family: "lobster";
font-size: 6rem;
color:white;
opacity:0.8;
text-align: center;
padding-top: 10rem;
}
